<div class="modal-content">
    <h4>Upload new profile picture</h4>
    <div class="row" style="margin-bottom: 0">
        <div class="col s12" [hidden]="preview">
            <div class="file-field input-field file-upload">
                <div class="btn">
                    <span>File</span>
                    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" [value]="filename">
                </div>
            </div>
            <div ng2FileDrop
                 [ngClass]="{'abo-file-drop': true,'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 (onFileDrop)="onFileDrop($event)"
                 class="well my-drop-zone">
                <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
            </div>
        </div>
        <div class="col s12 img-container" [hidden]="!preview">
            <img *ngIf="data.image" class="responsive-img" [src]="data.image"/>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a class="waves-effect waves-green btn teal" (click)="uploadImage()">Upload</a>
    <a class="waves-effect waves-teal btn teal lighten-2" (click)="preview = !preview"
       style="margin-right: 10px">Preview</a>
    <a class="modal-action modal-close waves-effect waves-light btn grey lighten-2 teal-text"
       style="margin-right: 10px" (click)="_modal.closeModal()">Cancel</a>
</div>
