.my-drop-zone {
  width: 100%; }

.nv-file-over {
  border: dotted 3px lightgray; }

.modal .modal-content {
  padding: 15px 10px 0 15px; }

.img-container img {
  display: block;
  margin: auto;
  height: 380px; }

/*# sourceMappingURL=abo-img-uploader.component.css.map */
