<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark teal darken-3 scrolling-navbar" [containerInside]="false" style="z-index: 1000">
    <logo>
        <a class="navbar-brand" href="#">
            <img src="../../../../assets/images/mdb-transparent.png" height="30" alt="">
        </a>
    </logo>
    <links>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active waves-light" [ngClass]="{'active': (activeRoute$ | async) === 'w_hm'}" mdbRippleRadius>
                <a class="nav-link" mtjrNavigate="w_hm">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item waves-light" [ngClass]="{'active': (activeRoute$ | async) === 'w_abt'}" mdbRippleRadius>
                <a class="nav-link" mtjrNavigate="w_abt">About Us</a>
            </li>
            <li class="nav-item waves-light" [ngClass]="{'active': (activeRoute$ | async) === 'w_ctu'}" mdbRippleRadius>
                <a class="nav-link" mtjrNavigate="w_ctu">Contact Us</a>
            </li>
        </ul>
        <ul class="navbar-nav nav-flex-icons">
            <form class="form-inline waves-light" mdbRippleRadius>
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success btn-sm my-0 waves-light" type="submit" mdbRippleRadius>
                    <i class="fa fa-search"> </i>
                </button>
            </form>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item waves-light" mdbRippleRadius>
                <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
        </ul>
    </links>
</mdb-navbar>
