.my-drop-zone {
  border: dotted 3px lightgray;
  width: 100%;
  height: 306px; }

.nv-file-over {
  border: dotted 3px red; }

.ng2-imgcrop canvas {
  width: 100%; }

/*# sourceMappingURL=islm-img-cropper.component.css.map */
