$side-margin: 30px;
$padding-top: 15px;
$z-index: 998;
.td1{
    width: 40%;
}
.td2{
    width: 60%;
}
.slides li {
    background-color: white;
}
div.row form {
    padding-top: 70px;
}
.fixed-action-btn-left {
    position: fixed;
    left: $side-margin;
    bottom: $side-margin;
    padding-top: $padding-top;
    margin-bottom: 0;
    z-index: $z-index;
}
.fixed-action-btn-right {
    position: fixed;
    right: $side-margin;
    bottom: $side-margin;
    padding-top: $padding-top;
    margin-bottom: 0;
    z-index: $z-index;
}
.fixed-action-btn-center {
    position: fixed;
    bottom: $side-margin;
    padding-top: $padding-top;
    left: 50%;
    width: 250px;
    margin-left: -98px;
    z-index: $z-index;
}

.disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.6;
}
