.td1 {
  width: 40%; }

.td2 {
  width: 60%; }

.slides li {
  background-color: white; }

div.row form {
  padding-top: 70px; }

.fixed-action-btn-left {
  position: fixed;
  left: 30px;
  bottom: 30px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998; }

.fixed-action-btn-right {
  position: fixed;
  right: 30px;
  bottom: 30px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998; }

.fixed-action-btn-center {
  position: fixed;
  bottom: 30px;
  padding-top: 15px;
  left: 50%;
  width: 250px;
  margin-left: -98px;
  z-index: 998; }

.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.6; }

/*# sourceMappingURL=init-account.component.css.map */
