<footer class="page-footer teal darken-1 center-on-small-only">
    <div class="container">
        <div class="row">
            <div class="col-md-3 offset-md-1">
                <h5 class="title">Footer Content </h5>
                <p>Here you can use rows and columns here to organize your footer content.</p>
            </div>
            <hr class="hidden-md-up">
            <div class="col-md-2 offset-md-1">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
            <hr class="hidden-md-up">
            <div class="col-md-2">
                <h5 class="title">Links</h5>
                <ul>
                    <li><a href="#!">Link 1</a></li>
                    <li><a href="#!">Link 2</a></li>
                    <li><a href="#!">Link 3</a></li>
                    <li><a href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <div class="call-to-action">
        <ul>
            <li>
                <h5>Register for free</h5>
            </li>
            <li><a href="" class="btn btn-danger waves-light" mdbRippleRadius>Sign up!</a></li>
        </ul>
    </div>
    <hr>
    <div class="text-center mb-3">
        <a class="btn btn-sm btn-default waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
        <a class="btn btn-sm btn-primary waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
        <a class="btn btn-sm btn-secondary waves-light" mdbRippleRadius><i class="fa fa-google-plus"> </i></a>
        <a class="btn btn-sm btn-info waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
        <a class="btn btn-sm btn-success waves-light" mdbRippleRadius><i class="fa fa-github"> </i></a>
        <a class="btn btn-sm btn-warning waves-light" mdbRippleRadius><i class="fa fa-pinterest"> </i></a>
        <a class="btn btn-sm btn-danger waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>
    </div>
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="https://www.MDBootstrap.com"> MDBootstrap.com </a>
        </div>
    </div>
</footer>
