<div class="row mt-5 pt-5">
    <div class="col text-center">
        <h2>This Navbar is fixed</h2>
        <h5>It will always stay visible on the top, even when you scroll down</h5>
        <br>
        <p>Full page intro with background image will be always displayed in full screen mode, regardless of device </p>

        <p><a mtjrNavigate="w_brp">Browse Products</a></p>
        <p><a mtjrNavigate="w_brs">Browse Shops</a></p>

        <p><a mtjrNavigate="s_prf" paramOne="shop">Shop Profile</a></p>
        <p><a mtjrNavigate="s_src" paramOne="shop">Shop Search</a></p>
        <p><a mtjrNavigate="s_prd" paramOne="shop">Shop All Products</a></p>
        <p><a mtjrNavigate="s_prc" paramOne="shop" paramTwo="category">Shop Products by Category</a></p>
        <p><a mtjrNavigate="s_prl" paramOne="shop" paramTwo="collection">Shop Products by Colleciton</a></p>

    </div>
</div>
