<div>

    <div class="row">
        <blockquote><h2>Angular2 Image Cropping.</h2></blockquote>
    </div>

    <div class="row">
        <div class="col m4"><strong>length</strong></div>
        <div class="col m2"><strong>cropped height</strong></div>
        <div class="col m2"><strong>cropped Width</strong></div>
        <div class="col m2"><strong>height</strong></div>
        <div class="col m2"><strong>width</strong></div>
    </div>
    <div class="row" *ngIf="data.image">
        <div class="col m4"><strong>{{data.image.length}}</strong></div>
        <div class="col m2"><strong>{{cropperSettings.croppedHeight}}</strong></div>
        <div class="col m2"><strong>{{cropperSettings.croppedWidth}}</strong></div>
        <div class="col m2"><strong>{{cropperSettings.height}}</strong></div>
        <div class="col m2"><strong>{{cropperSettings.width}}</strong></div>
    </div>
    <div class="row">
        <div class="col m6 s12">
            <div class="file-field input-field file-upload">
                <div class="btn">
                    <span>File</span>
                    <input id="custom-input" type="file" (change)="fileChangeListener($event)">
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <img-cropper #cropper [image]="data" [settings]="cropperSettings"></img-cropper>
        </div>
        <div class="col m6 s12">
            <img *ngIf="data.image" [src]="data.image" [width]="cropperSettings.canvasWidth"
                 [height]="cropperSettings.canvasHeight" style="margin-top: 23px;">
        </div>
    </div>
    <div class="row">
        <button (click)="uploadImage()">Upload Cropped Image</button>
    </div>

    <div class="row">
        <blockquote><h2>Angular2 File Upload</h2></blockquote>
    </div>

    <div class="row">

        <div class="col m6">

            <h3>Select files</h3>

            <div ng2FileDrop
                 [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                 (fileOver)="fileOverBase($event)"
                 [uploader]="uploader"
                 class="card-panel my-drop-zone">
                Base drop zone
            </div>

            <div ng2FileDrop
                 [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                 (fileOver)="fileOverAnother($event)"
                 [uploader]="uploader"
                 class="card-panel my-drop-zone">
                Another drop zone
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Multiple</span>
                    <input type="file" ng2FileSelect [uploader]="uploader" multiple/>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>

            <div class="file-field input-field">
                <div class="btn">
                    <span>Single</span>
                    <input type="file" ng2FileSelect [uploader]="uploader"/>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>

        <div class="col m6" style="margin-bottom: 40px">

            <h3>Upload queue</h3>
            <p>Queue length: {{ uploader?.queue?.length }}</p>

            <table class="bordered centered">
                <thead>
                    <tr>
                        <th width="50%">Name</th>
                        <th>Size</th>
                        <th>Progress</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of uploader.queue">
                        <td><strong>{{ item?.file?.name }}</strong></td>
                        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                        <td *ngIf="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar"
                                     [ngStyle]="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs"
                                    (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> Upload
                            </button>
                            <button type="button" class="btn btn-warning btn-xs"
                                    (click)="item.cancel()" [disabled]="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                            </button>
                            <button type="button" class="btn btn-danger btn-xs"
                                    (click)="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div>
                <div>
                    Queue progress:
                    <div class="progress">
                        <div class="determinate" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                    </div>
                </div>
                <button type="button" class="btn btn-success btn-s"
                        (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="glyphicon glyphicon-upload"></span> Upload all
                </button>
                <button type="button" class="btn btn-warning btn-s"
                        (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
                </button>
                <button type="button" class="btn btn-danger btn-s"
                        (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="glyphicon glyphicon-trash"></span> Remove all
                </button>
            </div>

        </div>

    </div>
</div>
