<form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row no-margin-bot">
        <div class="input-field col s12 center">
            <img src="../../../assets/images/login-logo.png" alt="" class="circle responsive-img valign security-logo">
            <!--<p class="center login-form-text">Material Design Admin Template</p>-->
        </div>
    </div>
    <div class="row no-margin-bot">
        <div class="input-field col s12">
            <i class="material-icons prefix">perm_identity</i>
            <input id="username" formControlName="username" type="text" required class="validate">
            <label for="username" attr.data-error="{{ formErrors.username }}">Username</label>
        </div>
    </div>
    <div class="row no-margin-bot">
        <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password" formControlName="password" type="password" required class="validate">
            <label for="password" attr.data-error="{{ formErrors.password }}">Password</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m12 l12  login-text">
            <input type="checkbox" formControlName="remember_me" id="remember_me">
            <label for="remember_me">Remember me</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <button type="submit" [disabled]="!loginForm.valid" class="btn waves-effect waves-light col s12">
                <i class="material-icons right">send</i> Login
            </button>
        </div>
    </div>
    <div class="row" [hidden]="!isLoading">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6 m6 l6">
            <p class="margin medium-small">
                <a class="btn-flat" [routerLink]="['/signup']">Sign Up</a>
            </p>
        </div>
        <div class="input-field col s6 m6 l6">
            <p class="margin right-align medium-small">
                <a [routerLink]="['/password-forgotten']" style="position: relative;top: 7px;">Forgot your password?</a>
            </p>
        </div>
    </div>
</form>
